#logo {
	width: 750px;
}

nav ul li {
	list-style: none;

}

.parkInfoBlock {
	display: flex;
	padding: 20px;
}

.parkInfoBlock img {
	width: 350px;
	padding-right: 20px;
}

.weatherContainer {
	display: flex;
}

.weatherPic {
	width: 120px;
}

.bold {
	font-weight: bold;
}

form div {
	padding: 10px 0px;
}

form div label {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	padding-left: 20px;
	color: black;
}

.formSubmitButton {
	text-align: center;
	margin-left: 20px;
}

.error {
	color: red;
}