#logo {
	width: 750px;
}

nav ul li {
	list-style: none;

}

.parkInfoBlock {
	display: flex;
	padding: 20px;
}

.parkInfoBlock img {
	width: 350px;
	padding-right: 20px;
}

.weatherContainer {
	display: flex;
}

.weatherPic {
	width: 120px;
}

.bold {
	font-weight: bold;
}